In [4]:
print(type(420))
print(type(420.))
print(type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [7]:
suma=0
suma=suma+5
print(suma)
suma=suma+6
print(suma)
suma+=7
print(suma)

5
11
18

In [10]:
sandauga=1
sandauga*=10
print(sandauga)
sandauga*=4.5
print(sandauga)
sandauga**=2 # kelimas kvadratu
print(sandauga)

10
45.0
2025.0

In [12]:
n_1=2
n_2=3
print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print(n_1/n_2)
print(n_1%n_2) #liekana
print(n_1//n_2) #sveikoji dalybos dalis

5
-1
6
0.6666666666666666
2
0

In [13]:
n_1=2.5
n_2=3.3
print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print(n_1/n_2)
print(n_1%n_2) #liekana
print(n_1//n_2) #sveikoji dalybos dalis

5.8
-0.7999999999999998
8.25
0.7575757575757576
2.5
0.0

In [15]:
dist_moon=384000
dist_sun=150000000
print(dist_sun/dist_moon)
print( f'atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

390.625
atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [16]:
car_speed=150 # km/h
print(' valandu:', dist_moon/car_speed)

 valandu: 2560.0

In [18]:
loginis_kintamasis=True
print(type(loginis_kintamasis))
print(loginis_kintamasis)

<class 'bool'>
True

In [21]:
print(int(loginis_kintamasis))
print(int(False))

1
0

In [31]:
number=50
print(10>5)
print(10<5)
print(10<=10)
print(10>=10)
print('50==number', 50==number) # = priskiria verte, == palygina
print('100==number', 100==number)
print('100!=number', 100!=number) # !=nera lygu
print('90!=number', 90!=number) # !=nera lygu
print('50!=number', 50!=number) # !=nera lygu

True
False
True
True
50==number True
100==number False
100!=number True
90!=number True
50!=number False

In [34]:
print('bool(1654)',bool(1654))
print('bool(0)',bool(0))
print('bool(-1)',bool(-1))
print('bool(0.000001)',bool(0.000001))

bool(1654) True
bool(0) False
bool(-1) True
bool(0.000001) True

In [39]:
print('bool(tekstas)',bool('tekstas'))
print('bool()',bool(''))
print("bool(' '):", bool(' '))
# jeigu tekste yra bent vienas smbolis jis bus True, jei tuscias visada False

bool(tekstas) True
bool() False
bool(' '): True
bool(0.000001) True

In [58]:
print('(10<5)', (10<5))
print('(10>8)', (10>8))
print('(10<5 and 10>8)', (10<5 and 10>8))
print('10<5 or 10>8',10<5 or 10>8)
print('10<50 or 10>8',10<50 or 10>8)

# false and true

#not - duoda priesinga atsakyma
print(not 5>10)
print(not True)
print(not False)

(10<5) False
(10>8) True
(10<5 and 10>8) False
10<5 or 10>8 True
10<50 or 10>8 True
True
False
True

In [62]:
print( "Vilnius"in 'Vilnius, Kaunas')
print( "Klaipeda"in 'Vilnius, Kaunas')
print( "vilnius"in 'Vilnius, Kaunas')
print( "s"in 'Vilnius, Kaunas')

True
False
False
True

In [64]:
print(True==1)
print(False==0)

True
True

In [70]:
print(10>8)
print(8<11)
print(not 5>6)
print("a" in 'labas')
number=2
print(10!=number)

True
True
True
True
True

In [72]:
print(10<8)
print(8>11)
print(not 5<6)
print("o" in 'labas')
number=10
print(10!=number)

False
False
False
False
False

In [73]:
print(str(True))

True

In [74]:
float_1=2.2
float_2=3.3
print(float_1-float_2) #tai nera klaida, kompiuteriai veikia dvejetaineje sistemoje

-1.0999999999999996

# List

In [76]:
cities=['Vilnius', 'Kaunas', 'Klaipeda']

In [81]:
print(type(cities))
print(type([]))
print(cities[0])
print(cities[-1])
# slicing
print(cities[1:])

<class 'list'>
<class 'list'>
Vilnius
Klaipeda
['Kaunas', 'Klaipeda']

In [82]:
cities[-1]='Siauliai'
print(cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [86]:
cities.append('Marijampole')
cities.append('Panevezys') #prideda kiekviena karta paleidus 
print(cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole', 'Panevezys']

In [87]:
cities.remove('Panevezys') # pasalina pirma pasitaikiusia verte 
print(cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']

In [89]:
cities.append('Marijampole')
cities.append('Panevezys') #prideda kiekviena karta paleidus
print(cities)
cities.pop() # pasalina paskutine verte 
print(cities)
cities.pop()

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Marijampole', 'Panevezys']
['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Marijampole']

'Marijampole'

In [93]:
new_cities=[' New York', 'London']
print(cities)
cities.extend(new_cities) # prideda kaip atskirus narius i jau egzistuojanti sarasa
print(' po extend ')
print(len(cities),cities)
cities.pop()
cities.pop()
cities.append(new_cities)
print('po append') # atsiranda sasrasas sarase
print(len(cities),cities)
cities.pop()

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', ' New York', 'London']
 po extend
9 ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', ' New York', 'London', ' New York', 'London']
po append
8 ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', ' New York', 'London', [' New York', 'London']]

[' New York', 'London']

In [94]:
cities.clear()
print(cities)

[]

In [98]:
cities=['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
print(cities.count('Panevezys'))
print(cities.count('Vilnius'))

2
1

In [101]:
print(cities.index('Panevezys')) # nurodo indexa kuriame yra sita reiksme ( pradeda skaiciuoti nuo 0)
print(cities.index('Klaipeda'))

4

ValueError: 'Klaipeda' is not in list

In [102]:
cities.insert(2,'Klaipeda')
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

In [104]:
cities.reverse() # perraso kintamojo duomenys
print(cities)
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

In [106]:
print(cities[::-1]) #pilnai apsuka sarasa, bet neperraso duomenys
print(cities)

['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']
['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

In [107]:
numbers=[5614,984,479987,3453,1,2,14,0,111]

In [109]:
numbers.sort() # funkcija surusiuoja visus skaicius didejimo tavrka
print(numbers)
numbers.sort(reverse=True) #norime kad mums surusiuotu mazejimo tvarka
print(numbers)

[0, 1, 2, 14, 111, 984, 3453, 5614, 479987]
[479987, 5614, 3453, 984, 111, 14, 2, 1, 0]

In [116]:
print(bool([]))
print(bool([5]))
print(bool( [False,0,' ']))
print('Vilnius' in cities)
print('Berlin' in cities)
# su loginem vertem - jeigu tuscia arba 0=False, jeigu ne tuscia ir ne 0= True

False
True
True
True
False

In [117]:
my_list=[1,3458]+['A', False] # sudeti galima , bet atimti ne 
print(my_list)

[1, 3458, 'A', False]

In [118]:
my_list=['first',3,58]*50
print(my_list)

['first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58]

# Mutable vs. immutable variables

In [122]:
# Immutable
number_1=6
number_2=number_1
print(id(number_1))
print(id(number_2))
number_2=13
print('number-1', number_1)
print('number_2', number_2)
print(id(number_1))
print(id(number_2))

2368084967824
2368084967824
number-1 6
number_2 13
2368084967824
2368084968048

In [126]:
#mutable
number_1=[1,5,10]
number_2=number_1
print(id(number_1))
print(id(number_2))
number_2.append(13)
print('number-1', number_1)
print('number_2', number_2)
print(id(number_1))
print(id(number_2))

2368198564608
2368198564608
number-1 [1, 5, 10, 13]
number_2 [1, 5, 10, 13]
2368198564608
2368198564608

In [127]:
# fix 1 for mutable variables
number_1=[1,5,10]
number_2=number_1.copy()
print(id(number_1))
print(id(number_2))
number_2.append(13)
print('number-1', number_1)
print('number_2', number_2)
print(id(number_1))
print(id(number_2))

2368198536832
2368198579200
number-1 [1, 5, 10]
number_2 [1, 5, 10, 13]
2368198536832
2368198579200

In [129]:
number_1=[1,5,[10,20]]
number_2=number_1.copy() # will fail
print(id(number_1))
print(id(number_2))
print(id(number_1[2]))
print(id(number_2[2]))
number_2[2].append(13)
print('number-1', number_1)
print('number_2', number_2)
print(id(number_1))
print(id(number_2))

2368198385664
2368198574400
2368198536832
2368198536832
number-1 [1, 5, [10, 20, 13]]
number_2 [1, 5, [10, 20, 13]]
2368198385664
2368198574400

In [130]:
# best fix for mutable variables
import copy

number_1=[1,5,[10,20]]
number_2=copy.deepcopy(number_1)
print(id(number_1))
print(id(number_2))
print(id(number_1[2]))
print(id(number_2[2]))
number_2[2].append(13)
print('number-1', number_1)
print('number_2', number_2)
print(id(number_1))
print(id(number_2))

2368198236288
2368198239040
2368198532160
2368198383424
number-1 [1, 5, [10, 20]]
number_2 [1, 5, [10, 20, 13]]
2368198236288
2368198239040

# Tuple

In [142]:
my_tuple=( 1,2,3)

In [134]:
print(my_tuple)
print(my_tuple[1])
print(my_tuple[:2])

(1, 2, 3)
2
(1, 2)

In [136]:
print(my_tuple.count(3))
print(my_tuple.index(3))

1
2

In [143]:
# my_tuple[2]=5 # neveiks
my_tuple=my_tuple+(5,10)
print(my_tuple)

(1, 2, 3, 5, 10)

In [145]:
my_tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [148]:
combined=(1,4,4)+(5,5,5)
print(combined)
print(5 in combined)

(1, 4, 4, 5, 5, 5)
True

In [149]:
my_tuple_2=(1,5,[4,8])
print(my_tuple_2)

(1, 5, [4, 8])

In [150]:
my_tuple_2[2].append(100)
print(my_tuple_2)

(1, 5, [4, 8, 100])

In [160]:
my_tuple=(1,2,['3',4,5],[6,[7,(8)]])
print(my_tuple[3][1][1])
print(my_tuple[-1][-1][-1])

8
8

In [164]:
tuple_1=(11,[222,33],44,55)
tuple_1[1][-1]=22
print(tuple_1)

(11, [222, 22], 44, 55)

In [167]:
# 2 budas
tuple_1=(11,[222,33],44,55)
temp_list=list(tuple_1)
print(temp_list)
temp_list[1]=[222,22]
print(temp_list)

[11, [222, 33], 44, 55]
[11, [222, 22], 44, 55]

# Range deklaracija

In [170]:
my_numbers=range(54,158,3)
print(type(my_numbers))
print(my_numbers)
print(list(my_numbers))

<class 'range'>
range(54, 158, 3)
[54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156]

In [171]:
print(list(range(50,-158,-7)))

[50, 43, 36, 29, 22, 15, 8, 1, -6, -13, -20, -27, -34, -41, -48, -55, -62, -69, -76, -83, -90, -97, -104, -111, -118, -125, -132, -139, -146, -153]

In [177]:
print(list(range(3,11,2)))
for number in range(3,11,2): # po : turi buti 4 tarpai
    print('ciklas prasidejo')
    print(number)

[3, 5, 7, 9]
ciklas prasidejo
3
ciklas prasidejo
5
ciklas prasidejo
7
ciklas prasidejo
9